.folder-item {
    height:10%;
}


.new-shared-folder-modal { 
  background:#ffffff;
  position: absolute;
  width:60%;
  height:35%;
  right:16%;
  top:35%;
  border-radius:10px;
  -webkit-animation: flippingModal 1s;  
  -webkit-animation-fill-mode: forwards; 
  animation: flippingModal 1s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes flippingModal {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}
@keyframes flippingModal {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

  
@keyframes blur {
    0% {
        opacity:0.2;
    }
    50% {
        opacity:0.8;
    }
    100% {
        opacity:0.2;
    }
}
